.about {
    display: flex;
    align-items: center;
    margin: 4px; /* Отступы вокруг элемента */
    //margin: 20%; 
    padding: 10px; /* Поля вокруг текста */
    justify-content: space-between;
    flex:.3;
}

.about__list {
    display: flex;
    align-items: center;
}


.about__item {
    display: flex;
    align-items: center;
    margin: 4px;
    color: whitef;
    //-webkit-text-stroke: 0.5px white;
    //-webkit-text-fill-color:transparent;
}


.about__item-text{
    color: #fff;
    font-size: 16px;
}

.aboutImage {
     float: left;
    margin: 2px;
    width: 54px;

}