.feedback {
 
    display: flex;

}

.feedback__content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.feedback__title{
    font-family: $medium;
    font-size: rem(30px);
}
.feedback__wrapper-content{
margin-left: rem(25px); 
}
.feedback__subtitle{
    color: #666666;
}
.feedback__name {
    margin-top: rem(10px);
    font-family: $medium;
    color: #666666;
}
.feedback__list {
    //display: none;
    background: $light-grey;
    margin-bottom: rem(25px);
}

.feedback__list-people {
    display: none;
    &.active {
        display: flex;
    }
    
}

.feedback__image {
    min-height: rem(260px);
    overflow: hidden;
    flex-shrink: 0;
}

.feedback__people {
    display: flex;
    justify-content: center;
    //flex-direction: row;
  
    

}
.feedback__people-round {
    width: rem(90px);
    height: rem(90px);
    overflow: hidden;
    margin-right: rem(20px);
    border-radius: 50%;
    border: rem(8px) solid transparent;
}
.feedback__people-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;


}
.feedback__avatar {
    //max-width: 100%;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    
}

