.feedback {
    background: url('../img/bg/review_bg.png') center center / cover no-repeat;
    display: flex;

}

.feedback__content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.feedback__title{
    font-family: $medium;
    font-size: 30px;
}
.feedback__wrapper-content1{
margin-left: 25px; 
}
.feedback__subtitle{
    margin: rem(10px);
    color: #666666;
}
.feedback__name {
    margin-top: rem(10px);
    font-family: $medium;
    color: #666666;
}
.feedback__wrapper1 {
    display: flex;
}
.feedback__wrapper2 {
    display: flex;
}
.feedback__wrapper3 {
    display: flex;
}

.feedback-people {
    flex-basis: auto;
   // display: flex;

  //  flex-direction: row;
  //  justify-content: space-around;
    

}
.feedback__people-round {
    width: rem(90px);
    height: rem(90px);
    overflow: hidden;
    margin-right: rem(20px);
    border-radius: 50%;
    border: 8px solid transparent;
}
.feedback__people-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;


}
.feedback__avatar {
    //max-width: 100%;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    
}
