.feedback {
    background: url('../img/bg/review_bg.png') center center / cover no-repeat;
    display: flex;

}

.feedback__content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.feedback__subtitle{
    margin: 10px;
}
.feedback__name {
    margin-top: 10px;
}
.feedback__wrapper1 {
    display: flex;
}
.feedback__wrapper2 {
    display: flex;
}
.feedback__wrapper3 {
    display: flex;
}

.feedback-people {
    flex-basis: auto;
   // display: flex;

  //  flex-direction: row;
  //  justify-content: space-around;
    

}

.feedback__avatar {
    @include square(100px, $radius: 4px);
  }