.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: rem(20px);
}
.checkbox + label {
	
	position: relative;
	padding: 0 0 0 rem(60px);
}
.checkbox + label:before {
	content: '';
	position: absolute;
	top: rem(0px);
	left: 0;
	width: rem(26px);
	height: rem(26px);
	box-shadow: inset 0 rem(2px) rem(3px) rgba(0,0,0,.2);
	transition: .2s;
}
.checkbox + label:after {
	content: '';
	position: absolute;
	top: rem(0px);
	left: rem(0px);
	width: rem(26px);
	height: rem(26px);
	//border: solid #fff;
   // border-width: 0 rem(2px) rem(2px) 0;
    //transform: rotate(45deg);
}
.checkbox:checked + label:before {
	background: $green;
}
.checkbox:checked + label:after {
	display: block;
	left: rem(26px);
}
.checkbox:focus + label:before {
	box-shadow: inset 0 rem(2px) rem(3px) rgba(0,0,0,.2), 0 0 0 rem(3px) rgba(255,255,0,.7);
}



.radio {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: rem(10px);
}
.radio + label {
	position: relative;
	padding: 0 0 0 rem(35px);
	cursor: pointer;
	margin-top: rem(20px);
}
.radio + label:before {
	content: '';
	position: absolute;
	top: rem(-3px);
	left: 0;
	width: rem(22px);
	height: rem(22px);
	border: rem(1px) solid #CDD1DA;
	border-radius: 50%;
	background: $white;
}
.radio + label:after {
	content: '';
	position: absolute;
	top: rem(1px);
	left: rem(4px);
	width: rem(16px);
	height: rem(16px);
	border-radius: 50%;
	background: $green;
	box-shadow: inset 0 rem(1px) rem(1px) rgba(0,0,0,.5);
	opacity: 1;
	transition: .2s;
}
.radio:checked + label:after {
	opacity: 1;
}
.radio:focus + label:before {
	box-shadow: 0 0 0 rem(3px) $green;
}
