.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: rem(24px);
    //color: #fff;
}

.header__buttons{
    display: flex;
    align-items: center;

}

.header__logo{
    width: rem(54px);
}
.header__phone {
    font-size: rem(24px);
}
.header__phone-btn {
    color: inherit;
    font-size: rem(24px);
    display: flex;
    align-items: center;

    &:before{
        content: '';
        width: rem(12px);
        height: rem(12px);
        margin-right: 6px;
        font-family: $regular;
        background: url('../img/phone_.png') center center / contain no-repeat;
    }
}