.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    //color: #fff;
}

.header__buttons{
    display: flex;
    align-items: center;

}

.header__logo{
    width: 54px;
}
.header__phone {
    font-size: 24 px;
}
.header__phone-btn {
    color: inherit;
    font-size: 24px;
}