.order{
    background: url('../img/bg/order_bg.png') center center / cover no-repeat;
    
}

.container {
  position: absolute;
  justify-content: center;
  align-items: center;
  font-family: $regular;
  font-size: rem(18px);
  color: $green;
}

