.products {
    background: #f8faf9;
}

.products__content {
    display: flex;
    align-items: center;
    height: 100%;
}

.products__content-left{
    width: 50%;
    display: flex;
    flex-direction: column; 
 
}
.products__title {
    font-size: rem(36px);
    text-align: left;
    margin-bottom: rem(22px);
    display: block;
    font-family: $bold;
   
    
}
.products__content-right {
    display: flex;
    align-items: center;
    width: 50%;
    flex-direction: column;
    margin-left: rem(66px);
}
.products__about {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.products__composed {
    margin-bottom: rem(47px);

}
/*.products__info {
    display: flex;
    align-items: center;
}*/
.products__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(38px);
}

.products__order{
    display: flex;
    align-items: center;
}

.products__order-price {
    font-size: rem(60px);
    font-family: $light;
}

.products__item {
    
    align-items: center;
    
}
.products__name {
    align-items: center;
    font-family: $regular;
}
.products__count {
    font-family: $bold;
}