.subtitle {
    font-size: rem(18px);
    margin-top: rem(23px);
    font-family: $regular;

  
    .feedback__subtitle{
        margin: rem(10px);
        color: #666666;
    }


    .welcome__subtitle {
        font-size: rem(21px);
        margin-bottom: rem(32px);
    }

    .why__subtitle {
        width: inherit;
        font-family: $regular;
    }
}