.welcome__content {
    display: flex;
    align-items: center;
    height: 100%;
   

    .welcome__content-left{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
       
        
    }
    .welcome__content-right {
        
        display: flex;
        align-items: center;
        width: 50%;
        flex-direction: column;
        flex:.3;
    }
}

  


