.welcome { 
background: url('../img/bg/chocco-bg.png') center center / cover no-repeat;
color: #fff;
align-items: flex-start;

    &:after{
        content:'';
        width: 100%;
        height: rem(435px);
        position: absolute;
        bottom: rem(-60px);
        left: 0;
        background: url('../img/bg/berries.png') center center / contain no-repeat;
    }
}

.welcome__container {
    height: 100%;
}

.welcome__subtitle {
    font-size: rem(21px);
    margin-bottom: rem(32px);
    font-family: $regular;
}
