$light-blue:#61c4d9;
$dark-blue:#00accf;
$light-grey: #f2f5f4;
$black: #2f3234;
$green: #0f5a47;
$dark-green: #0b4d3c;
$white: #fff;


$regular: 'Alegreya-Reg', 'Arial', sans-serif;
$bold: 'Alegreya-Bold', 'Arial', sans-serif;
$light: 'Alegreya-Light', 'Arial', sans-serif;
$extrabold: 'Alegreya-ExtraBold', 'Arial', sans-serif;
$medium: 'Alegreya-Medium', 'Arial', sans-serif;



@function rem($px) {
    @return $px / 16px + 0rem;
  }


$z-fixed-menu: 100;

$tablets: 768px;
.header {display: none;}
		.container {max-width: 450 px; flex-direction: column;}
		.welcome__title-wrapper {width: 100%; flex-direction: column;}
		.welcome__content {
			width: calc(100% / 2 - 20px);
		}

		.why__list{
			width: 100%;
		}
$phones: 480px;



//normalize
@import "normalize";

//setup
//@import "layouts/normalize";
@import "layouts/media";
@import "layouts/base";
@import "layouts/fonts";

//add files scss

@import "header";
@import "nav";
@import "section";
@import "welcome";
@import "welcome-content";
@import "why";
@import "team";
@import "feedback";
@import "title";
@import "order-form";
@import "form";
@import "menu-acco";
@import "menu";
@import "form-checkRadio";
@import "subtitle";
@import "products";
@import "fixed-menu";
@import "about";


