$light-blue:#61c4d9;
$dark-blue:#00accf;
$light-grey: #f2f5f4;
$black: #2f3234;
$green: #0f5a47;
$dark-green: #0b4d3c;
$white: #fff;

$regular: 'Alegreya-Reg', 'Arial', sans-serif;
$bold: 'Alegreya-Bold', 'Arial', sans-serif;
$light: 'Alegreya-Light', 'Arial', sans-serif;
$extrabold: 'Alegreya-ExtraBold', 'Arial', sans-serif;
$medium: 'Alegreya-Medium', 'Arial', sans-serif;

@function rem($px){
    @return $px / 16px + 0rem;
}

$tablets: 768 px;
$phones: 480px;
$phones-small: 370px;


//normalize
@import "normalize";
//setup
//@import "layouts/normalize";
@import "layouts/base";
@import "layouts/fonts";
//add files scss

@import "header";
@import "nav";
@import "section";
@import "welcome";
@import "welcome-content";
@import "why";
@import "team";
@import "feedback";
@import "title";
@import "order-form";
@import "form-checkRadio";
@import "subtitle";
@import "products";


